@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Jersey+25+Charted&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* p {
  font-family: "Red Hat Display", sans-serif;
}

.titulo-logo {
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
}

.logo img {
  height: 75px;
  margin-left: 10px;
}

.logo-img {
  animation: rotacion 2s ease-in-out forwards;
}

@keyframes rotacion {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

body {
  margin: 0;
}

header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav a {
  padding: 15px;
  margin: 10px;
  border: 2px solid black;
  text-decoration: none;
  color: white;
  font-size: 25px;
}

nav a:hover {
  background-color: white;
  color: black;
}

nav a:active {
  background-color: black;
  border: 2px solid white;
  color: white;
}

main {
  padding-top: 5%;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

h4 {
  text-align: center;
}

.info {
  text-align: center;
  font-size: 17px;
}

.img-htmlcss {
  width: 50%;
  margin-left: 460px;
}

.estudiante {
  height: 800px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  margin-left: 655px;
  margin-top: 3%;
}

.importante {
  font-weight: bold;
}

.caja-info {
  border: 2px solid black;
  padding: 20px;
  font-size: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 44px;
  margin-top: 44px;
  box-sizing: border-box;
  text-align: center;
}

.contacto {
  text-align: center;
}

form {
  padding: 20px;
  margin: 50px auto;
  width: 60%;
  max-width: 600px;
  border: 2px solid black;
}

form h3 {
  text-align: center;
  text-decoration: underline;
}

.contenedor-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[list="provincias"],
textarea {
  width: 98%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  min-height: 60px;
}

fieldset label {
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-right: 45px;
}

fieldset {
  margin-bottom: 15px;
}

fieldset legend {
  color: rgb(131, 131, 131);
  font-size: 20px;
}

button {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

button:hover {
  background-color: #444;
}

.tabla {
  width: 35%;
  margin: 10% 8% 20px 10px;
}

.tabla h3 {
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 85%;
  background-color: rgb(74, 74, 74);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(21, 21, 75);
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid rgb(205, 205, 205);
}

th {
  background-color: rgb(0, 0, 0);
}

footer {
  text-align: center;
  color: gray;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.article {
  max-height: 300px;
  overflow-y: auto;
  background-color: lightgray;
}

.lista {
  display: flex;
  align-items: center;
  justify-content: center;
}

#cv-completo {
  text-align: center;
}

.article img {
  margin-left: 36%;
}

.sticky-title {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  padding: 1% 0;
  z-index: 1;
  text-align: center;
}

.scrollear-hacia-arriba {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(117, 117, 117, 0.8);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.scrollear-hacia-arriba:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}
